table.card-holder
    tr
        td(colspan=3).name-holder
        td.value-holder.cost
    tr
        td(colspan=4).image-holder
    tr
        td(colspan=4).effect-holder
    tr
        td.value-holder.atk
        td(colspan=2).value-holder.rarity
        td.value-holder.hp
