.card.item(card=JSON.stringify(val))
            .titleCard
              p
            .monsterImg
              img(src=`/images/monster/`, alt='')
              .grade
                p
              .cost
                img(src='/images/point.png', alt='')
                p
              .description
                p
              .attack
                p
                img(src='/images/attack.png', alt='')
              .health
                img(src='/images/life.png', alt='')
                p