doctype html
html
    head
        block head
    body
        block content
        script(src="/assets/jquery.min.js")
        script(src="/assets/jquery-ui.min.js")
        script(src="/assets/lodash.min.js")
        script(src="/assets/popper.min.js")
        script(src="/assets/js/bootstrap.min.js")
        block foot