doctype html
html
    head
        block head
        link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css", attr)
    body
        block content
        script(src="/assets/jquery.min.js")
        script(src="/assets/jquery-ui.min.js")
        script(src="/assets/popper.min.js")
        script(src="/assets/js/bootstrap.min.js")
        script
            
        block foot