extends layouts/layout.pug

prepend head
    title #{title}
    link(rel="stylesheet", href="/stylesheets/style.css", attr)
block content
    .row
        #btn
            #top
            #middle
            #bottom
        #box
            h2(style="padding-left:20px;") Rooms
            #rooms
            div.container-fluid(style="text-align: center;")
                button#host.btn Host
                button#random.btn.btn-primary Random
            button#leaveRoom.btn.btn-danger Leave Room
            a(href="/api/games/deck")
                button.btn.btn-warning#deck-btn Deck
        #page-wrapper.container-fluid(style='min-height: 80vh;')
            .load
                #loader
            #game
                #op_info
                    #avatar
                        #avatarImg
                            img(src='/images/ghost.jpg')
                        #frameworkAvatar
                            img(src='/images/avatar.png')
                    #frameName
                        img(src='/images/name.png', alt='')
                    #textName
                        .player_name
                    .infoStatusOp
                        .infoStatusFrameOp
                            img(src="/images/infoPlayer.png", alt="")
                        .manapointOp
                            img(src="/images/point.png")
                            .mp 
                        .numberCardOp
                            img(src="/images/backside-card.png", alt="")    
                            .deck_num
                            p /25  
                    .timerFrame
                        img(src="/images/timer-frame.png", alt="")              
                    #timer
                    .handNumFrame
                        img(src="/images/backside-card.png", alt="")
                    .hand_num
                    .hp
                table#board
                    tr(id="op_side")
                        td(x=0 y=0 class="zone placeable")
                        td(x=1 y=0 class="zone placeable")
                        td(x=2 y=0 class="zone placeable")
                        td(x=3 y=0 class="zone placeable")
                    tr(id="my_side")
                        td(x=0 y=1 class="zone placeable")
                        td(x=1 y=1 class="zone placeable")
                        td(x=2 y=1 class="zone placeable")
                        td(x=3 y=1 class="zone placeable")
                #me_info
                    .frameMe
                        img(src="/images/player-in-game.png", alt="")
                        .infoStatus
                            .infoStatusFrame
                                img(src="/images/infoPlayer.png", alt="")
                            .manapoint
                                img(src="/images/point.png")
                                .mp 
                            .numberCard
                                img(src="/images/backside-card.png", alt="")    
                                .deck_num
                                p /25
                            .mainLifePoint
                                img(src="/images/life.png")
                                .hp
                        .player_name
                        .surrender 
                            p Surrender
                        .endTurn 
                            img(src="/images/end-turn.png", alt="")
                            p End Turn
                #hand
append foot
    script(src="/assets/easytimer.min.js")
    script(src="/assets/socket.io.js")
    script(src="/javascripts/connect.js")
    script.
        const sidebarBox = document.querySelector('#box'),
        sidebarBtn = document.querySelector('#btn'),
        pageWrapper = document.querySelector('#page-wrapper');

        sidebarBtn.addEventListener('click', event => {
                sidebarBtn.classList.toggle('active');
                sidebarBox.classList.toggle('active');
        });

        pageWrapper.addEventListener('click', event => {

                if (sidebarBox.classList.contains('active')) {
                        sidebarBtn.classList.remove('active');
                        sidebarBox.classList.remove('active');
                }
        });

        window.addEventListener('keydown', event => {

                if (sidebarBox.classList.contains('active') && event.keyCode === 27) {
                        sidebarBtn.classList.remove('active');
                        sidebarBox.classList.remove('active');
                }
        });

