extends layouts/layout.pug

block content
    input#email(type='email', placeholder='Email', name='email')
    input#psw(type='text', placeholder='Password', name='psw')
    button(onclick='login()') Login
    a(href='http://localhost:3000/api/register')
      button Register
append foot
  script(src="/javascripts/account.js")