extends layouts/layout.pug
prepend head
  meta(charset='UTF-8')
  title Login form
  link(rel="stylesheet", href="/stylesheets/style-login-register.css", attr)
block content
  .box
    #warning
    .textbox
      i.fa.fa-user-o(aria-hidden='true')
      input(type='text', id='email',  placeholder='Email', name='', value='')
    .textbox
      i.fa.fa-lock(aria-hidden='true')
      input(type='password', id='psw', placeholder='Password', name='', value='')
    input.btn.login(onclick='login()', type='button', name='', value='LOGIN')
    a(href='/register')
      input.btn.register(type='button', name='', value='CREATE FREE ACCOUNT')

append foot
  script(src="/javascripts/account.js")