extends layouts/layout.pug

block content
    input#name(type='text', placeholder='Name')
    input#email(type='email', placeholder='Email')
    input#psw(type='text', placeholder='Password')
    button(onclick='register()') Register
    a(href='http://localhost:3000/api/login')
      button Login
append foot
  script(src="/javascripts/account.js")