@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Poor+Story');
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.box{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 40px 20px 20px;
  border-radius: 5px;
  background-color: rgb(229, 130, 67, 0.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid rgb(222, 102, 26, 0.1);
  animation-name: box;
  animation-duration: 0.5s;
}

@keyframes box {
  from {top: -20%;}
  to {top: 50%}
}

.box:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(229, 130, 67, 0.1);
  border: 2px solid rgb(222, 102, 26, 0.3);
}

/*.login-box h1{
  float: center;
  font-size: 60px;
  font-family: 'Poor Story', cursive;
  color: yellow;
  margin-bottom: 50px;
  padding: 13px 0;
  text-align: center;
  background-image: "test1.jpg"
}*/

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid white;
}

.textbox i{
  width: 25px;
  float: left;
  text-align: center;
  color: yellow;
  margin-top: 5px;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: yellow;
  font-size: 20px;
  font-family: 'Poor Story', cursive;
  width: 80%;
  float: left;
  margin: 0 10px;
}
input::placeholder {
  color: yellow;
  font-style: italic;
  opacity: 0.8;
}
input:focus {
  background-color: rgba(255, 255, 0, 0.089);
}
input:focus::-webkit-input-placeholder { color:transparent; }

input.btn{
  font-family: 'Poor Story', cursive;
  font-weight: bold;
  font-size: 18px;
}

.btn{
  width: 100%;
  background: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin: 12px 0;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.register{
  background-color: #4CAF50;
}

.login{
  background-color: #f70909;
}

.register:hover {
  background-color: #62ba65;
}
.login:hover {
  background-color: #fc3a3a;
}